.nav-container {
    background-color: #8667F2;
    width: 100vw;
    height: 7vh;
    min-height: 61.73px;
    display: flex;
    place-items: center;
    gap: 2em;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 2%;
    float: left;
}

.search-container {
    display: flex;
    min-width: 27vw;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.nav-input {
    max-width: 25vw;
    min-width: 25vw;
    min-height: 30px;
    border: none;
    margin: 2px;
    padding-left: 5px;
    font-size: 18px;
}

.nav-input:focus {
    outline: none;
}

.nav-search-icon {
    margin-left: 0px;
    background-color: #FFFFFF;
    min-height: 30px;
    margin: 2px;
    color:#8667F2;
}

.line-break {
    width: 100%;
}

.nav-buttons {
    margin-right: 2%;
    
}

.btn {
    margin-left: 1vw;
    min-height: 30px;
    min-width: 60px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    color: #8667F2;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.btn-login {
    margin-left: 0.5vw;
    min-height: 30px;
    min-width: 60px;
    border-radius: 5px;
    border: none;
    background-color: #E0E7FF;
    color: #8667F2;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}